body {
    background-color: rgb(19, 208, 233);
    font-family: verdana;
    font-size: 200%;
}
  h1 {
    color: rgb(225, 139, 18);
    font-family: Verdana;
    font-size: 200%;
  }
  p {
    color: rgb(10, 1, 1);
    font-family: courier;
    font-size: 160%;
  }
    h2{
        color: rgb(225, 139, 18);
        font-family: verdana;
        font-size: 200%;
    }
    .flex-container {
        display: flex;
        background-color: rgb(225, 139, 18);
        padding: 50px;
        font-size: 100px;
      }
      